{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/thumbnail/list.css') }}"/>
{% endblock %}

{% block body %}
    <h1>Liste des vignettes</h1>

    <table>
        <thead>
        <tr>
            <td>Vignette</td>
            <td>Nom</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        {% for thumbnail in thumbnails.entities %}
            <tr>
                <td>
                    <img src="{{ asset('pic/' ~ thumbnail.name ~ '.' ~ thumbnail.extension) }}"
                         alt="{{ thumbnail.name }}">
                </td>
                <td>{{ thumbnail.name }}</td>
                <td>
                    <a href="#" class="material-icons">edit</a>
                    <a href="#" class="material-icons">delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}

{% endblock %}
