@import "../style/font";
@import "../style/color";

section {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;

    ul {
      display: flex;
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        padding: 5px;
        font-family: $titleFont;
        font-weight: bold;

        a {
          color: black;
        }

        p {
          margin: 0;
          color: $greyDark;
        }
      }
    }
  }

  table {
    width: 500px;
    margin: auto;
    border-collapse: collapse;
    text-align: center;

    td {
      border-left: 1px solid $greyDark;
      border-right: 1px solid $greyDark;
      width: 150px;
    }

    td:first-child {
      width: 200px;
      border-left: none;
    }

    td:last-child {
      border-right: none;
    }

    thead {
      tr {
        border-bottom: 1px solid $greyDark;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid $greyDark;

        td:first-child {
          img {
            width: 200px;
            height: auto;
            display: block;
          }
        }

        td:last-child {
          a {
            margin: 15px;
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }
}