@import "../style/color";
@import "../style/font";

section {
  table {
    border-collapse: collapse;
    width: 600px;
    margin: auto;

    tr {
      td {
        border: 1px solid black;
        text-align: center;

        ul {
          text-align: left;
        }
      }
    }
  }
}