<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta lang="fr">
    <title>{% block title %}Appli UPE2A{% endblock %}</title>

    <!-- Google development -->
    <link href="https://fonts.googleapis.com/css?family=Jura|Raleway"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet"/>

    <!-- Personal style sheets -->
    <link rel="stylesheet" href="{{ asset('build/css/style.css') }}"/>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav id="navbar">
    <ul>
        <li><a href="{{ path('core_home') }}">Accueil</a></li>
        <li><a href="{{ path('control_show', {'id': '1'}) }}">Tests</a></li>
        <li><a href="{{ path('thumbnails_list') }}">Vignettes</a></li>
    </ul>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
